.profile-container {
  padding-top: 4rem;
  padding-left: 3.2rem;
  position: relative;
  height: 100%;
}

.profile-heading {
  font-size: 2rem;
  font-weight: var(--fwt-bold);
  line-height: 2.8rem;
  margin-bottom: 3.2rem;
}

/* || EMPLOYEE CARD || */
.employee-card {
  display: flex;
  align-items: center;
}

.employee-card-details {
  display: flex;
  flex-direction: column;
  padding: 1.6rem;
}

.employee-card-name {
  font-size: 2.4rem;
  font-weight: var(--fwt-bold);
  line-height: 2.8rem;
}

.employee-card-email,
.employee-card-change-profile {
  font-size: 1.4rem;
  line-height: 2rem;
}

.employee-card-email {
  color: var(--clr-employee-card-email);
}

.employee-card-change-profile {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: var(--fwt-semi-bold);
  color: var(--clr-action);
  margin-top: 6px;
  cursor: pointer;
}

/* || EMPLOYEE DETAILS || */
.employee-details-container {
  margin-top: 5.6rem;
  display: grid;
  grid-template-columns: repeat(2, 20.4rem);
  grid-template-rows: repeat(3, 3.2rem);
  gap: 2.4rem;
}

/* || PROFILE SAVE CHANGES || */
.profile-save-changes-btn-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 4.4rem;
  padding: 1.2rem 9.3rem;
  background-color: var(--clr-profile-save-changes-bg);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.profile-cancel-btn,
.profile-save-btn {
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: var(--fwt-semi-bold);
  border: none;
}

.profile-cancel-btn {
  color: var(--clr-action);
  background-color: transparent;
}

.profile-save-btn {
  color: var(--clr-white);
  background-color: var(--clr-action);
  padding: 1.4rem 3.2rem;
  border-radius: var(--br-regular);
}
