@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap");

:root {
  /* || font weights || */
  --fwt-light: 300;
  --fwt-regular: 400;
  --fwt-bold: 700;
  --fwt-heavy: 900;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
}

html,
body,
#root,
.app {
  height: 100%;
}
