@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css");

:root {
  /* || font weights || */
  --fwt-light: 300;
  --fwt-regular: 400;
  --fwt-bold: 700;
  --fwt-heavy: 900;

  /* || colors || */
  --clr-font-default: #1c1e26;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  line-height: 1;
  font-weight: var(--fwt-regular);
  color: var(--clr-font-default);
}

html,
body,
#root,
.app {
  height: 100%;
}
