@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css");

/* || GENERAL || */
:root {
  /* || font weights || */
  --fwt-light: 300;
  --fwt-regular: 400;
  --fwt-semi-bold: 500;
  --fwt-bold: 700;
  --fwt-heavy: 900;

  /* || colors || */
  --clr-font-default: #1c1e26;
  --clr-white: #fff;
  --clr-black: #000;
  --clr-badge-notification: #da1e28;
  --clr-search-bg: rgba(255, 255, 255, 0.25);
  --clr-aside-options-heading: radial-gradient(
    140.1% 5911.46% at 135.94% 77.27%,
    #4652cd 0%,
    #46cbea 100%
  );
  --clr-aside-option-border: rgba(255, 255, 255, 0.15);
  --clr-aside-bg-overlay: hsla(0, 0%, 0%, 0.8);
  --clr-btn-header-back-border: #ccc;
  --clr-header-heading: #171d41;
  --clr-nav-link-inactive: #767b85;
  --clr-nav-link-active: radial-gradient(
    94.76% 4003.41% at 5.24% 29.55%,
    #4652cd 0%,
    #46cbea 100%
  );
  --clr-nav-border: #ededed;
  --clr-employee-card-email: #767b85;
  --clr-action: #5563f5;
  --clr-fieldset-border: #e3e3e3;
  --clr-fieldset-value: #767b85;
  --clr-profile-save-changes-bg: rgba(0, 0, 0, 0.05);

  /* || shadows || */
  --sdw-aside-logout: 2px 2px 2rem 0 rgba(0, 0, 0.08);

  /* || border-radii || */
  --br-regular: 8px;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  line-height: 1;
  font-weight: var(--fwt-regular);
  color: var(--clr-font-default);
  overflow: hidden;
}

html,
body,
#root,
.app {
  height: 100%;
}

.app {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
}

/* || APP BODY || */
.app-body {
  display: grid;
  grid-template-rows: auto 1fr;
}

/* || BUTTON || */
.btn-icon {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
